secretkey=
filelocation=
urlfile=
urlAPIWa = 
secretkeyM=
apiKey=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
PORT=
baseLocation=
projectLocation=
logLocation=
salt=
KAFKA_CLIENT_ID = KAFKA_NOA
KAFKA_PORT = 29092
KAFKA_HOST = localhost
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_STREAM_KEY_SS01="STREAM:NOASS01"
REDIS_STREAM_KEY_SS10="STREAM:NOASS10"
API_KEY_SS10=""
API_KEY_SS01=""
SS10_URL = ""
SS01_URL = ""
TOPIC_SS01=""
TOPIC_SS10=""
RABBIT_USER=""
RABBIT_PASSWORD=""
RABBIT_EXCHANGE_SS01=""
RABBIT_QUEUE_SS01=""
RABBIT_ROUTE_SS01=""
RABBIT_EXCHANGE_SS10=""
RABBIT_QUEUE_SS10=""
RABBIT_ROUTE_SS10=""